<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/screen.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

    <script src="/lib/angular.js"></script>

    <script src="/js/app.js"></script>
    <script src="/js/controllers/signInController.js"></script>

  </head>
  <body ng-app="sample">
    <h3 class="text-center">Sign In Sample From the MongoDb</h3>

    <div class="container" ng-controller="signInController">

      <form class="form-signin" ng-submit="submit()">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputuserName" class="sr-only">Username</label>
        <input type="text" id="inputuserName" class="form-control" placeholder="Username" required="" autofocus="" ng-model="userData.username">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" ng-model="userData.password">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
    </div>

  </body>
</html>